/* index.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c2baba;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header img {
    width: 60%;
    height: 200px;
}   

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



#home {
    margin: 20px auto;
    padding: 30px;
    max-width: 1000px;
    background: #fff;
    background-color: rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 0 2px #fff;
    text-align: center;
    
}
 
.carti, .autori, .sectiune {
    display: inline-block;
    height: 100px;
    width: 120px;
    background-color: bisque;
    
    margin-left: 5%;
    margin-right: 5%;
    
    border: solid black;
    text-align: center;
    text-decoration: underline;
}

.imagcarti {
    height: 70px;
    width: 100px;
    transition: transform 0.3s;
}

.imagcarti:hover {
    transform: scale(1.1);
}



#solicitare {
    margin: 20px auto;
    padding: 30px;
    max-width: 1000px;
    background: #fff;
    background-color: rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#returnare {

    margin: 20px auto;
    padding: 30px;
    max-width: 1000px;
    max-height: 450px;
    background: #fff;
    background-color: rgb(214, 208, 208);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trimite {
    width: 100%;
    background: #3e3c46;
    color: #e2cfcf;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #366e4c;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}
